Django>=4.2
dj-database-url
pandas
matplotlib
whitenoise
python-dotenv
openpyxl
psycopg2-binary
gunicorn
pdfminer.six
ydata-profiling
cloudinary
django-cloudinary-storage
google-generativeai
jinja2
visions
dacite
phik
joblib
scipy
pydantic < 2
htmlmin