Django>=4.2
dj-database-url
pandas
matplotlib
whitenoise
python-dotenv
openpyxl
psycopg2-binary
google-genai   # or the Google Gen AI / Gemini client library you choose
dj-database-url
gunicorn
whitenoise
django-heroku
psycopg2-binary
