Django>=4.2
dj-database-url
pandas
matplotlib
whitenoise
python-dotenv
openpyxl
psycopg2-binary
google-genai  
dj-database-url
gunicorn
whitenoise
django-heroku
psycopg2-binary
pdfminer.six
ydata-profiling
cloudinary
django-cloudinary-storage